@import "tailwindcss";

.grid {
  cursor: pointer;
  &.running {
    cursor: not-allowed;
  }
}

.grid > div {
  border-color: var(--color-slate-800);
  border-style: var(--tw-border-style);
  border-width: 1px;
  width: var(--cell-size);
  height: var(--cell-size);

  &[data-alive="true"] {
    background-color: var(--color-cyan-400);
  }
}
